*.iml
.idea/
*/target
.project
.metadata/
*.class
*.war
*.swp
*/buildNumber.properties
buildNumber.properties
config_center_client.log
MANIFEST.MF
/*/.settings
/*/.settings
/*/vaccine.log.path_IS_UNDEFINED
/*/*.classpath
/*/*.gitignore
/.settings/*.prefs
